/* BASE STYLES */

@font-face {
	font-family: wsaude-font;
	src: url(../assets/Gotham-Font/GothamBook.ttf)
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'wsaude-font', sans-serif;
  outline: none;
  list-style: none;
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}

img{
  max-width:100%;
	height:auto;
}

/*HEADER*/

.nav{
  display: flex;
  height: 80px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
  margin-top: 20px;
  background: #fff;
}

.nav span{
    font-size: 1.5rem;
    display: inline-block;
    color: #7f7f7f;
    
}

.nav .logo{
    color: #fff;
    font-size: 35px;
    font-weight: 400;
  }

.nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  
}

.nav ul li{
  margin: 0 5px; 
  
}

.nav ul li a{
  color: #4e4d4d;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
}

.nav ul li a.active,
.nav ul li a:hover{
  color: #111;
  background: #fff;
  text-decoration:none;
  border-bottom: 3px solid #0A6076;
  border-radius: 0;
}

.nav .button{
    border-radius: 5px;
    font-size: 1.5rem;
    outline: none;
    border: 0;
    color: #FFF;
    text-decoration: none;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    background-color:#2D9AA9 ;
    padding:5px 5px;
    
}

.nav .menu-btn i{
  color: #7f7f7f;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
@media (max-width: 1000px){
  .nav{
    padding: 0 40px 0 50px;
  }

  
}
@media (max-width: 995px) {
  .nav .menu-btn i{
    display: block;
  }

  

  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }

  .nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: #0A6076;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
    z-index: 1;
  }
  #click:checked ~ ul{
    left: 0;
  }
  .nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  .nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    color: #FFF;
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  .nav ul li a.active,
  .nav ul li a:hover{
    background: none;
    color: rgb(133, 145, 148);
  }
}


@media (min-width: 1000px) and (max-width: 1119px){
  .nav .button{
    box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border: 2px solid #2D9AA9;
    border-radius: 0.6em;
    color: #2D9AA9;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .button:hover, .button:focus {
    color: #fff;
    outline: 0;
  }
  
  .animation {
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  }
  .animation:hover {
    box-shadow: 0 0 40px 40px #2D9AA9 inset;
  }
  .nav .button{
    margin-left: 40px;
    padding: 10px 20px;
  }
  
  /*header .nav{
    width: 1100px; 
    position: fixed; 
    top: 0; 
    z-index: 50;
    background: #fff;
  }*/

}

@media (min-width: 1200px){
  .nav .button{
    margin-left: 120px;
    padding: 10px 20px;
  }

  .nav .button{
    box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border: 2px solid #2D9AA9;
    border-radius: 0.6em;
    color: #2D9AA9;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .button:hover, .button:focus {
    color: #fff;
    outline: 0;
  }
  
  .animation {
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  }
  .animation:hover {
    box-shadow: 0 0 40px 40px #2D9AA9 inset;
  }

  /*
  header .nav{
    width: 1200px;
    right: 100px; 
    position: fixed; 
    top: 0; 
    z-index: 50;
    background: #fff;
  }
  */

}



/*TITLE-MAIN*/
.title-main{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.title-main img{
  order: 1;
  max-width: 100%;
  display: block;
}

.title-main .text {
  order: 2;
}

.text h1{
  font-size: 2rem;
  justify-content: center;
  font-weight: 400;
}

.text strong {
  color: #0A6076;
  font-size: 2rem;
}

.title-main .title-info{
  border: none;
  color: #000;
  text-align: left;
  vertical-align: middle;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  margin-top: 20px;
  border-bottom: 3px solid #074555;
  /*border-bottom-style:dashed;*/

}

.title-main .contact-number{
background-color: rgba(17, 52, 167, 0.1);
  border: none;
  color: #074555;
  padding: 13px 20px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  margin-top: 20px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 6px;
}


@media (min-width: 1000px) {

  #start{
    border-bottom: 1px solid #f3f1f1;
  }

  .title-main{
    display: flex;
    flex-wrap: wrap;  
    justify-content: center; 
    padding: 100px 0;
  }

  .title-main > div{
    flex: 1 1 200px;
    margin-left: 10px;
  }

  .title-main div{
    margin-left: 80px;
  }

  .title-main .text{
    align-self: center;
    margin-left: 100px;
    line-height: 20px;
    font-weight: 400;
  }

  .text h1{
    line-height: 1.2;
    letter-spacing: -.02em;
    text-align: left;
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 1rem;
  }

  .text strong{
    font-weight: 400;
    font-size: 3rem;
  }

  .text p{
    font-size: 2rem;
    color: grey;
    text-align: inherit;
  }

  .title-main .title-img{
    order: 2;
    flex-grow: 6;
    overflow: visible;

  }

  .title-main .text{
    order:1;
    line-height: 3rem;
    justify-content: left;
    flex-grow: 2;
  }

}

/*MORE ABOUT*/

.more-about{
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
}

.icon{
  font-size: 3rem;
  color: #0A6076;
}

h3 a{
  font-size: 2rem;
  justify-content: center;
  font-weight: 400;
  color:#000;
}

h3 a:hover{
  color: #000;
}

.more-about p{
  font-size: 1.5rem;
  color: grey;
  text-align: left;
  line-height: 27.2px;
}

@media (min-width: 1000px){
  .more-about{
    margin-left: 80px;
  }

}


/*MODULES*/

svg{
  display: block;
}

.modules-section{
  background: rgb(251, 254, 255);
  border-top: 1px solid #f3f1f1;
}

.modules{
  display: flex;
  padding-top: 80px;
}

.modules-img{
  display: none;
}

.text-modules{
  flex: 3;
  color: #074555;
  margin-left: 20px;
}

.text-modules h2{
  white-space: normal;
  padding-top: 40px;
  font-weight: 700;
  font-size: 3rem;
  flex-wrap: wrap;
  line-height: 4rem;
  padding-bottom: 20px;
  text-align: left;
}

.text-modules h2 strong{
  color: #1290af;
}

.text-modules p{
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: left;
}

@media (min-width: 768px){
  .modules-img{
    display: block;
    flex: 5;
  }
}

/* CARD FUNCTIONS*/

.card-space-1{
  background:#eaf4f7;
  text-align: center;
  
}

.card-space-1 h2{
  font-weight: 400;
  justify-content: center;
  margin-top: 60px;
}

.card-space-1 h2 strong{
  color: #0A6076;
}


.functions{
  margin: 60px 20px 0 20px;
  border: 1px solid #0A6076;
  padding: 60px 55px 57px 57px;
  border-radius: 13px;
}

.functions h3{
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.945px;
  color: #0A6076;
}

.functions p{
  margin: 0 0 1.5em;
  color: rgb(102, 98, 113);
  display: block;
}

.functions .icon-functions{
  color: #0A6076;
  font-size: 36px;
}

/*CARD PLAN*/

.card-space-2{
  background:#0A6076;
  text-align: center;
  padding-top: 100px;
}

.plan-card{
  background: #fff;
  border-radius: 6px;
  position: relative;
  margin-bottom: 20px;
}

.card-title {
  height: 12rem;
  padding: 4rem 2rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-title img {
  max-width: 60px;
}

.free img{
  color: goldenrod;
}

.only img{
  color: green;
}

.geral img{
  color: darkblue;
}

.card-heading {
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  width: 75%;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 20px;
  font-weight: 600;
  color: rgb(101, 104, 110);
  font-size: 2rem;
}


.plan-card .plan-item{
  display: flex;
  margin: 20px 60px;
  padding: 5px;
}

.plan-card .icon-plan{
  color: rgb(1, 160, 72);
  background: #eaf4f7;
  border-radius: 50%;
  width: 30px;
  height: 20px;
  
}

.plan-card .button-buy{
  background: #2D9AA9;
  width: 100%;
  display: block;
  right: 1px;
  left: 1px;
  padding: 20px 32px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  font-size: 1.5rem;
  font-weight: 400;

}

.plan-card .button-buy a{
  color: #fff;
}


/*FOOTER*/
.footer{
  display: flex;
  background: rgb(251, 254, 255);
  padding: 60px;
}

.logo-footer{
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  color: #8c8c8d;
  font-weight: 700;
}

.icons-contact{
  display: inline-flex;
}

.icon-footer{
  font-size: 2rem;
  color: #808080;
  margin-right: 20px;
  margin-top: 20px;
}

.footer .addres, .connect, .legal{
  font-size: 1.5rem;
  line-height: 4rem;
  margin: 20px 0;
  color: #4f4f50;
  text-decoration: none;
}

.footer .addres strong{
  color: #0A6076;
  font-weight: normal;
}

.footer .connect i{
  font-size: 2rem;
  justify-content: center;
  text-align: center;
  color: #0A6076;
  margin-right: 0 5px;
}

.footer .legal i{
  margin-right: 5px;
  color:  #0A6076;
}

.footer .legal a{
  color: #4f4f50;
}