.main{
    background: #2D9AA9;
}

.main-content{
    margin: 20px 60px;
    padding: 36px;
    background: #fff;
    border-radius: 6px;
}

.main-content h2, h3{
    color: #0A6076;
}

.main-content h2{
    font-weight: 600;
    font-size: 3rem;
}

.main-content h3{
    font-size: 2rem;
    margin: 20px 0;
}

.main-content h4{
    color: #777777;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 20px 0 10px 0;
}

.main-content p{
    color: #777777;
    font-size: 1.5rem;
    text-align: justify;
    margin-bottom: 40px;
}

.main-content span{
    margin-right: 5px;
    color: #2D9AA9;
    font-weight: 600;
}

@media (min-width: 1200px) and (max-width: 3000px){
    .nav .button{
      margin-left: 120px;
      padding: 10px 20px;
    }

    .nav ul .button{
        margin-left: 150px;
    }
}